* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background 0.5s ease;
}

header {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.intro-text h1, .page2 h1 {
    font-size: 2rem;
    margin-bottom: 7px;
}

.intro-text p, .page2 p {
    text-align: center;
    font-size: 1rem;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.bg-change {
    background-color: #fff;
}